

//style for signin & signUp
.panel {
  max-width: 500px;
  width: 90%;
  background: #fff;
  margin: 50px auto;
  border-radius: 20px;
  padding: 35px 25px;

  .login {
    direction: ltr;
    .mobile {
      position: relative;

    }
    .invalid {
      border-color: #dc3545;
      position: relative;
      &::after {
        content: "!";
        position: absolute;
        right: 12px;
        border: 1px solid #dc3545;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        text-align: center;
        color: #dc3545;
        font-size: 16px;
      }
    }
  }
  form {
    max-width: 250px;
    margin: auto;
    position: relative;
    overflow: hidden;
  }
  .head {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 50px;
  }
  .btn-sub {
    display: block;
    margin: 40px auto;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 24px;
    background: var(--main-color);
    color: #fff;
  }
  .separ {
    display: block;
    color: #555;
    position: relative;
    width: fit-content;
    margin: auto;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 30px;
      height: 1px;
      background-color: #555;
      top: 50%;
    }
    &::before {
      left: 30px;
    }
    &::after {
      right: 30px;
    }
  }
  .switch {
    margin-top: 20px;
    text-align: center;
  }
}

// tyle for just login
.login {
  .name,
  .pass {
    width: fit-content;
    margin: auto;
    border-bottom: 2px solid #ccc;
    padding: 7px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .name {
    margin-bottom: 30px;
  }
  .icon {
    color: var(--main-color);
  }

  input {
    border: none;
    outline: none;
    width: 190px;
    margin-left: 18px;
  }
  .forget {
    display: block;
    text-align: right;
    color: var(--main-color);
    font-size: 13px;
    margin-top: 15px;
  }
}
