

// ********
// categorie style
// *******

.cat {
  .table{
    max-width: 800px;
  }
  .modal-dialog {
    margin-top: 200px;
  }
}

.group {
  .table {
    max-width: 800px;
  }
}

// ********
// user style
// *******

.users {
  tbody tr {
    white-space: pre;
  }
  .modal-dialog{
    max-width: 550px;
  }
  .info .show-pass{
    position: absolute;
    right: -30px;
    top: 15%;
    cursor: pointer;
    padding: 5px;
  }
  .select-form{
    width: 130px;
  }
  .mobile {
    .inp-form{
      position: relative;
      input{
        padding-left: 18px;
      }
      &::after{
        content: "0";
        position: absolute;
        top: 7px;
        left: 10px;
      }
    }
  }
  .modal .store-info{
    display: block;
    max-width: 400px;
    .btn.add{
      display: flex;
      margin-left: auto !important;
      align-items: baseline;
    }
    .store-row {
      padding: 20px;
      margin-bottom: 25px;
      background: #f6f6f6;
      border-radius: 10px;
      position: relative;
      &.disable input{
        pointer-events: none;
      }
      .info-row {
        display: flex;
        justify-content: space-between;
        & > div:first-child {
          margin-right: 10px;
        }
      }
      .btns-edit-store{
        position: absolute;
        right: -23%;
        display: flex;
        flex-direction: column;
        top: 35%;
        & > *{
          margin-bottom: 10px;
        }
      }
    }
  }
}

// ********
// product style
// *******

.check-form {
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: space-around;
  margin-top: 7px;
}
.price {
  .inp-form {
    display: inline-block;
  }
  .qte {
    display: inline-block;
    margin-top: 5px;
    input {
      width: 44px;
      margin-left: 4px;
      // padding: 2px 7px;
    }
  }
}


.inp-num {
  width: 60px;
}

.cat .inp-form {
  width: 180px;
}

.search-select {
  width: 150px;
  display: flex;
  margin-left: auto;
  margin-top: 10px;
}

.product {
  .modal-dialog {
    max-width: 900px;
  }
  .info-row {
    max-width: 460px !important;
    & > *{
      width: 200px;
      margin-bottom: 20px;
    }
  }
  .up-top {
    margin-top: -30px;
  }

  .goute{
    .btn-add {
      display: flex;
      position: relative;
      .invalid-feedback {
        display: block;
        position: absolute;
        bottom: -25px;
      }
    }
  }


  // edit in panel template
  .panel-dash {
    tbody {
      .price{
        width: 100px;
      }
      .stock,
      .status,
      .goute,
      .qte{
        width: 80px;
      }
      .qte{
        background: #ffc1077a;
      }
      .code-bare {
        width: 120px;
      }
      .id,
      .image {
        width: 50px
      }
    }
  }
}
.modal-dialog{
  .image{
    display: block !important;
    margin: auto;
    .show-image {
      height: 300px;
      width: 300px;
      border: 1px dashed #ccc;
      margin: auto;
      border-radius: 15px;
      font-family: "Font Awesome 5 Pro";
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: space-around;
      overflow: hidden;
      &::after {
        content: "\f382";
        font-size: 56px;
        position: absolute;
        color: #4c8394d1;
        z-index: -2;
      }
    }
  }

  .saller-price {
    position: absolute;
    background: #fff;
    z-index: 2;
    border: 1px solid #999;
    border-radius: 10px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 550px;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

    .head {
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
      border-bottom: 1px solid #999;
    }
    .cont {
      padding: 10px;
    }
  }
}

.upload-inp::-webkit-file-upload-button {
  visibility: hidden;
}
.upload-inp{
  width: 144px;
  margin-top: 13px;
  margin-left: 50px;
}
.upload-inp::before {
  content: "Upload Image";
    display: inline-block;
    background: #0d6efd;
    color: #fff;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
}
.upload-inp:hover::before {
  border-color: black;
}
.upload-inp:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}



// ********
// Order
// *********
.order {
  .template {
    overflow: hidden;
    .shufle {
      display: flex;
      align-items: flex-start;
      width: calc(200% + 10px);
      position: relative;
      transition: left .2s;
      left: 0;
      &.details {
        left: calc(-100% + -10px);
      }
      .pan {
        width: 50%;
        &:last-child {
          margin-left: 10px;
        }
      }
    }
  }

  #modal_order .modal-dialog {
    margin-top: 200px;
  }

  tbody {
    .user,
    .saller {
      position: relative;
    }
    .date {
      font-weight: 700;
      font-size: 15px;
      width: 200px;
      position: relative;

      .new-show.active {
        position: absolute;
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #dc3545;
        right: 12px;
        top: 12px;
      }
    }
    .amount span {
      background: rgba(13, 202, 240, 0.4196078431);
      display: block;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: 600;
      text-align: center;
    }

    .saller,
    .status {
      .edite-order{
        opacity: 0;
      }
      &:hover {
        .edite-order {
          opacity: 1;
        }
      }
    }

    .status {
      width: 220px;
      padding-top: 35px;
      position: relative;
      .inp-form {
        width: 160px;
        writing-mode: vertical-lr;
        select { padding: 0 5px; }
        .btn { padding: 0 5px; }
      }
    }

    .status-show {
      font-size: 14px;
      position: relative;
      display: inline-block;
      width: 210px;
      padding-left: 30px;
      background: #c0f4ff;
      color: #13a1bf;
      border-radius: 20px;
      &::after {
        content: "";
        position: absolute;
        left: 10px;
        width: 12px;
        height: 12px;
        background: #13a1bf;
        border-radius: 50%;
        top: calc(50% - 7px);

      }

      &[data-status="1"] {
        background: #fdf5dd;
        color: #cfa00c;

        &::after {
          background: #f2be1d;
        }
      }

      &[data-status="2"] {
        background: #5e9fdf;
        color: #052c50;

        &::after {
          background: #052c50;
        }
      }


      &[data-status="4"] {
        background: #e2e2e2;
        color: #545454;

        &::after {
          background: #989898;
        }
      }

      &[data-status="5"] {
        background: #f1dbff;
        color: #9622df;

        &::after {
          background: #9622df;
        }
      }

      &[data-status="6"] {
        background: #6dc771;
        color: #003513;

        &::after {
          background: #028832;
        }
      }

      &[data-status="7"] {
        background: #cff6dd;
        color: #1fa750;

        &::after {
          background: #23bd5a;
        }
      }

      &[data-status="9"] {
        background: #fddbdf;
        color: #dc3545;

        &::after {
          background: #dc3545;
        }
      }
    }




    .edite-order {
      position: absolute;
      right: 1px;
      top: 5px;
      width: 25px;
      height: 25px;
      padding: 0;
      font-size: 10px;
    }
  }
}

//order detail
.amount-detail {
  text-align: right;
  position: relative;
  bottom: 3px;

  span {
    display: inline-block;
    padding: 8px 50px;
    background:  #0dcaf06b;
    font-size: 18px;
    border-radius: 7px;
  }
}
.qte-saller {
  text-align: center;
  display: inline-block;
  font-size: 16px;
  background: #ef395978;
  font-weight: 500;
  padding: 0px 15px;
  margin-left: 8px;
  border-radius: 10px;
}

.instock .status-btn.active.not{
  background: #ffc107;
  border-color: #ffc107;
}



.order-details {
  tbody{
    .image {
      width: 60px;
    }
    .info-order p {
      margin-bottom: 0;
    }
    .inp-price,
    .inp-qte {
      pointer-events: none;
      border: none;
      margin-left: 20px;
      background: inherit;
      font-weight: 600;
      &.active {
        pointer-events: painted;
        border: 1px solid;
        background: #fff;
      }
    }
    .inp-price {
      width: 100px;
      font-size: 16px;

    }
    .price {
      width: 25%;
      p {color: #888;}
    }
    .qte {
      width: 50px;
      font-size: 16px;
      }
    .inp-qte { width: 40px; }
    .discount { width: 8%;}
    .goute {
      width: 16%;
      li {
        display: inline-block;
      }
    }
    .price-total {
      font-size: 16px;
      font-weight: 600;
      background: $back_amount;
      width: 140px;
    }

  }
  .price-product {
    margin: auto;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 5px;
    background: $back_amount;
    font-weight: 600;
  }

  .header-order-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 11px 20px;
    font-size: 16px;
    background: #ffd793;
    border-radius: 5px;
    margin: -60px 30px 20px auto;
    .amount {
      padding: 10px 40px;
      font-size: 16px;
      font-weight: 600;
      background: #0dcaf0;
      border-radius: 5px;
    }
  }
}

.search-prod {
  position: relative;
  .resulte {
    position: absolute;
    top: 32px;
    width: calc(100% - 24px);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    z-index: 10;
    .image {
      width: 40px;
      margin: 0;
    }
    li {
      display: flex !important;
      align-items: center;
      cursor: pointer;
      padding: 2px 0;
      &:hover {
        background: #93d6f03b;
      }

      .id { padding: 0 10px; }
      .name { flex-grow: 1; font-size: 16px; font-weight: 600;}
      .price { padding: 0 10px; font-weight: 600;}
    }
  }

}


// setting
.setting {
  .param {
    background: #fff;
    border-radius: 12px;
    padding: 20px;

    .btn {
      display: flex;
      margin-left: auto;
    }
  }
}

